# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\HzwProjects\php_project\mcshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
